@import "../../App.css";

.loadingPage {
  background-image: url("../../assets/mgli.jpg");
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items: center;
  
}
.loadingContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
  width: 60px;
}



.container {
  height: 100vh;
}

.largeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.bg-image {
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.heroName img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid var(--main-color);
  margin: auto;
}

.heroName {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-large);
  z-index: 5;
}

.heroName h3 {
  padding-top: var(--spacing-medium);
}

.heroCard {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.container h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  color: azure;
  --color1: rgb(0, 255, 255);
  --color2: rgb(46, 16, 16);
  --color3: dodgerblue;
  --color4: blue;
  --interval: 1s;
  text-shadow: 0 0 5px var(--color1), 0 0 5px var(--color2),
    0 0 5px var(--color3), 0 0 5px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  font-family: var(--main-font);
}

.containerList {
  display: flex;
  justify-content: space-between;
}

.containerLineOption,
.containerLineResult {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100px;
}

.containerLineResult {
  padding-left: 2%;
}

.containerLineOption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.containerLineOption li,
.containerLineResult li {
  font-family: var(--main-font);
  font-size: 18px;
  color: azure;
}

.containerLineResult li {
  font-weight: bold;
}

.subContainer1 {
  text-align: center;
  background-color: var(--main-color);
  margin-top: var(--spacing-large);
  padding: var(--spacing) 0px;
  z-index: 5;
  width: 100vw;
}
.subContainer1 h3 {
  text-align: center;
  font-family: var(--main-font);
}

.subContainer {
  background-color: var(--main-color);
  margin: var(--spacing-large) 0px;
  z-index: 5;
  padding-bottom: var(--spacing-medium);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subContainer h3 {
  text-align: center;
  margin-bottom: var(--spacing-medium);
  padding-top: var(--spacing-medium);
  font-family: var(--main-font);
}

.subContainer li,
p {
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--main-font);
  font-size: 24px;
  color: azure;
}

.subContainer p {
  padding: 0px 33px;
}

.difficultyLevels {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.difficultyLevels h6 {
  margin: 0;
  font-size: 28px;
  color: azure;
  --color1: rgb(0, 255, 255);
  --color2: rgb(46, 16, 16);
  --color3: dodgerblue;
  --color4: blue;
  --interval: 1s;
  text-shadow: 0 0 5px var(--color1), 0 0 5px var(--color2),
    0 0 5px var(--color3), 0 0 5px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
  padding: 24px;
  font-family: var(--main-font);
}

.difficultyLevelsSmallContainer p li {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-medium);
  text-align: center;
}

.progressBar {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

.containerBar progress {
  margin: 8px 0px;
}

.containerLabel label {
  margin: 4px 0px;
}

.containerBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1%;
}

.containerLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: bold;
}

.lastContainer {
  margin-bottom: 75px;
}

.runLogo {
  display: none;
}

.subContainer h4 {
  font-size: 36px;
  color: azure;
  --color1: rgb(0, 255, 255);
  --color2: rgb(46, 16, 16);
  --color3: dodgerblue;
  --color4: blue;
  --interval: 1s;
  text-shadow: 0 0 5px var(--color1), 0 0 5px var(--color2),
    0 0 5px var(--color3), 0 0 5px var(--color4);
  will-change: filter, color;
  filter: saturate(60%);
  font-family: var(--main-font);
  margin: 0;
  padding: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .largeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .liContainer li {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .largeContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .heroName img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 2px solid var(--main-color);
    margin: auto;
  }

  .containerLineOption li,
  .containerLineResult li {
    font-size: 24px;
    color: azure;
  }

  .container h3 {
    font-size: 46px;
  }

  .subContainer1 {
    width: 100%;
    border-radius: 10%;
    margin: var(--spacing-large) 0px;
  }

  .subContainer {
    width: 30%;
    border-radius: 10%;
  }

  .subContainer li {
    font-size: 28px;
  }

  .lastContainer {
    margin-bottom: 32px;
  }

  .liContainer {
    margin-bottom: 32px;
  }

  .subContainer h4 {
    padding: 32px;
  }

  .subContainer:hover {
    filter: blur(0px);
    transform: scale(1.02);
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    transition: 0.5s linear;
  }
}
