@import "../../App.css";

html {
  background-color: #000008;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
}

.mainHero img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid var(--main-color);
  margin:0px 50px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
}
.mainHero{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  margin-top: 100px;
}
.mainHero h3{
  font-size:28px;
  color: azure;
    --color1: rgb(0, 255, 255);
    --color2: rgb(46, 16, 16);
    --color3: dodgerblue;
    --color4: blue;
    --interval: 1s;
    text-shadow: 
      0 0 5px var(--color1),
      0 0 5px var(--color2),
      0 0 5px var(--color3),
      0 0 5px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
}

.heroLineUpContainer {
  display:none;
}

.heroLineUpSmallContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen (min-width: 768px) and (max-width: 1022px) {
  .mainHero {
    margin-top: auto;
  }
}

@media screen and (min-width:1023px){
  .heroLineUpContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .heroLineUpSmallContainer{
    display: none;
  }
  .mainHero{
    margin:0px 10px;
    margin-top: 100px;
  }
} 

@media screen and (min-width:1280px){
  .mainHero{
    margin:0px 60px;
    margin-top: 100px;
  }
}
@media screen and (min-width:1650px){
  .mainHero{
    margin:0px 100px;
    margin-top: 100px;
  }
}